html,
body {
  font-family: 'Karla', sans-serif;
  background: white;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  --primary-color: black;
  --secondary-color: #909090;
}

section {
  padding: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

section h2 {
  width: 20vw;
  text-align: center;
  /* background: purple; */
  display: inline-block;
  flex-grow: 1;
}

.gallery {
  display: inline-block;
  box-sizing: border-box;
  /* border: 1px solid red; */
  /* width: calc(100vw - 2rem); */
  /* max-width: calc(100vw - 2rem); */

  width: 70vw;

  /* background: green; */

  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}

.gallery > *:not(:last-child) {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 900px) {
  section {
    flex-direction: column;
    padding-top: 0;
    margin-bottom: 0;
  }

  section h2 {
    order: 1;
    width: 100%;
    padding-bottom: 2rem;
  }

  section .gallery {
    order: 2;
    width: 100%;
  }
}

.gallery img {
  max-height: 400px;
  max-width: 100%;
}

.Nav {
  z-index: 101;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 100vw;
  box-sizing: border-box;
  padding: 3rem 5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .Nav {
    flex-direction: column;
    padding: 3rem 2rem;
  }

  .Nav > *:first-child {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 650px) {
  .Nav__links > * {
    display: block;
    margin: 0.3rem 0;
  }
}

.Nav__logo {
  text-align: center;
  font-size: 1.1rem;
  color: var(--primary-color);
  text-decoration: none;
}

.Nav__links {
  text-align: center;
}

.Nav__links > *:not(:last-child) {
  margin-right: 1rem;
}

.Nav__links a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--secondary-color);
  text-transform: none;
}

.Nav__links a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.Nav__link--active {
  color: var(--primary-color) !important;
}

.coming-soon {
  line-height: 300px;
  height: 200px;
  width: 100%;
  text-align: center;
}

.contact-page {
  padding: 4rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  height: 600px;
  box-sizing: border-box;
}

.contact-page > * {
  flex-shrink: 0;
  flex-basis: 40vw;
  box-sizing: border-box;
}

.contact-page img {
  width: 40vw;
}

.contact-page > .contact-info {
  /* background: purple; */
  padding: 0 2rem;
}

.contact-email {
  color: var(--secondary-color);
}

@media only screen and (max-width: 900px) {
  .contact-page {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  .contact-page .contact-info {
    /* order: 1; */
    width: 100%;
    /* background: pink; */
    display: block;
    text-align: center;
    padding: 0;
    height: 100px;
  }

  .contact-page img {
    /* order: 2; */
    padding: 1rem;
    display: block;
    width: 100%;
  }
}
